body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}


header { 
    background-color: #fff; 
    padding: 13px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-size: 15px; 
    border-bottom: 1px solid #ccc; 
    cursor: pointer; 
} 

.return { 
    margin-left:15px;
    font-size: 13px;
}
.log { 
    justify-content: start; 
    margin-left: 1.5%;
} 
#in { 
    font-size: 13px;
    margin-right:1.5%;
} 

header a { 
    text-decoration: none; 
    color: #333; 
} 

#userMenu {
    display: none;
    position: absolute;
    top: 40px;
    right: 2%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 80px;
}

#userMenu button {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
    text-align: left; 
    border: none;
    background: none;
    cursor: pointer;
}

main { 
    flex-grow: 1; 
    display: flex; 
    align-items: center; 
    flex-direction: column;
    padding: 20px;
} 
  

.user-block {
    background-color: #fff;
    width: 80%;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;

}

.user-block img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.name {
    display: flex;
    justify-content: auto;
    align-items: center;
    width: 100%;
}

.user-info p.birthdate {
    margin-top: 5px;
    margin-bottom: 0;
    color: #555;
    font-style: normal;
}

.user-stats {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: 5px;
    min-width: 200px;
}

.user-stats button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.PaginachionContainer{  
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: auto;
    border: none;
    background-color: white; 
    width:75%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
  }
  #Paginachion{
    margin-bottom: 0;
    background-color: #f4f4f4;
  }
  .PaginachionContainer button{
    background-color: #fff;
    color: #106ef5;
    border: 1px solid #106ef5;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
  }  
  #button4{
    background-color: #106ef5;
    color: #fff;
    
  }
  #passcount{
    margin-left: auto;
    margin-right: 10px;
    width: 50px;
  }
  .filter-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
  }
footer { 
    background-color: #ececec; 
    padding: 10px; 
    text-align: start; 
    font-size: 13px; 
    color: #666; 
    border-top: 1px solid #ccc; 
  } 
  .foottext {   
    margin-left:16%; 
    margin-top: 10px;
    margin-bottom: 10px; 
  } 